# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/
stats.txt
cookies/
dist/
build/
*.exe

# PyCharm / IDE
.idea/
*.iml

# JSON settings/data
*.json

# System
.DS_Store
Thumbs.db
